#container {
    margin: auto;
    width: 100%;
}

.logo {
    width: 30%;
}

#header {
    float: left;
    height: 250px;
    width: 100%;
    background-color: #CABBB7;
    /* from google color picker extension */
}

#head-logo {
    position: absolute;
    top: 30px;
    right: 10%;
}

h3 {
    float: left;
    position: absolute;
    top: 15%;
    left: 20%;
}

#head-logo {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #C65252;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    margin-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
}


/* to fit both images into the width of class "main", both images 45% (which makes 90% in sum)
and a margin in the middle of "main" of 10% (on the right and left of each image), so 
that the images are symmetric in the wrapper */

#debit-card {
    float: left;
    width: 45%;
    margin-right: 5%;
}

#scooter {
    float: left;
    width: 45%;
    margin-left: 5%;
}

.text{
    text-align: justify;
}

.quote{
    font-style: italic;
    color: #CABBB7;
}

hr{
    width: 20%;
    color: #404041; /*color of grey hat of the CF logo */
}

.column{
    float: left;
    width: 30%;
    padding: 10px;
    height: 500px;
    border: #404041;
    border-style: solid;
    border-width: 1px;

}

#first-column{    
    background-color: #CABBB7;   
}

#second-column{
    background-color: #cabbb79d;
}

#third-column{
    background-color: #cabbb731;
}

#contact{
    background-color: #CABBB7;
    border: #C65252;
    border-style: solid;
    border-width: 2px;
}


#button{
    background-color: #C65252;
    color: white;
}


#footer {
    float: left;
    margin-top: 30px;
    height: 250px;
    width: 100%;
    background-color: #CABBB7;
    /* from google color picker extension */
}

